.type-1298 {
  margin-top: 50px;
}
.type-1298 .container form {
  display: flex;
}
.type-1298 .container form .col-md-9 {
  display: flex;
  padding: 0;
  border: 1px solid #e3e3e3;
}
.type-1298 .container form .col-md-9 .col-md-4 {
  border-left: 1px solid #e3e3e3;
  padding: 0;
}
.type-1298 .container form .col-md-9 .col-md-4 .form-group {
  margin-bottom: 0;
}
.type-1298 .container form .col-md-9 .col-md-4 .select-hidden {
  display: none;
}
.type-1298 .container form .col-md-9 .col-md-4 .select-custom .selected-item::after {
  content: "\f0d7";
  font-family: 'FontAwesome';
  float: right;
}
.type-1298 .container form .col-md-9 .col-md-4 .select-custom .selected-item {
  cursor: pointer;
}
.type-1298 .container form .col-md-9 .col-md-4 .select-custom .select-option {
  position: absolute;
}
.type-1298 .container form .col-md-3 {
  padding: 0;
  display: flex;
}
.type-1298 .container form .col-md-3 .col-md-4 {
  display: flex;
  padding: 0;
}
.type-1298 .container form .col-md-3 .col-md-4 button {
  width: 100%;
  background: #18998e;
  border: none;
}
.type-1298 .container form .col-md-3 .col-md-8 {
  display: flex;
  padding: 0;
}
.type-1298 .container form .col-md-3 .col-md-8 button {
  width: 100%;
  background: #1ea69a;
  border: none;
}
