.type-1298 {
  margin-top: 50px;
  .container {
    form {
      display: flex;
      .col-md-9 {
        display: flex;
        padding: 0;
        border: 1px solid #e3e3e3;
        .col-md-4 {
          border-left: 1px solid #e3e3e3;
          padding: 0;
          .form-group {
            margin-bottom: 0;

          }
          .select-hidden{
            display: none;
          }
          .select-custom{
            .selected-item::after{
              content: "\f0d7";
              font-family: 'FontAwesome';
              float: right;
            }
            .selected-item{
              cursor: pointer;
            }
            .select-option{
              position: absolute;
            }
          }
        }
      }
      .col-md-3{
        padding: 0;
        display: flex;
        .col-md-4{
          display: flex;
          padding: 0;
          button{
            width: 100%;
            background: #18998e;
            border: none;
          }
        }
        .col-md-8{
          display: flex;
          padding: 0;
          button{
            width: 100%;
            background: #1ea69a;
            border: none;
          }
        }
      }
    }
  }
}